*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
    font: 65% / 1.15 sans-serif;
    background-image: url(./wood-wallpaper.jpg);
}

body {
  width: 100%;
  max-width: 60%;
  margin: 0 auto;
  font: 1.5rem/1.25 Arial, sans-serif;
  background-color: rgba(211, 208, 204, 0.8);  
  color: #3b3b3b;
}
@media screen and (min-width: 620px) {
  body {
    font-size: 1.8rem;
    line-height: 1.31579;
  }
}

h1,
h2 {
    margin-bottom: 0;
    text-align: center;
    padding: 15px;
}

ul {
    list-style: none;
    padding: 0;
}

.btn {
    color: inherit;
    margin-bottom: 10px;
}

.main-container {
    margin: 10px;
}

.red-marker {
    color: rgb(170, 52, 52);
}

.white-marker {
    color:rgb(224, 217, 152)
}

.orange-marker {
    color: rgb(202, 101, 6)
}

.rose-marker {
    color: rgb(211, 135, 182)
}

.list-item {
    margin-left: 10px;
    margin-bottom: 10px;
}

/*
clip-path: polygon(
    40% 25%,
    45% 16%,
    45% 0,
    55% 0,
    55% 16%,
    60% 24%,
    65% 33%,
    65% 50%,
    65% 100%,
    35% 100%,
    35% 50%,
    35% 33%
);

clip-path: polygon(
    21% 55%,
    10% 55%,
    0 55%,
    0 45%,
    10% 45%,
    21% 45%,
    33% 35%,
    65% 35%,
    100% 35%,
    100% 65%,
    65% 65%,
    33% 65%
);
